{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'teams.css' %}?{% now " U" %}" type="text/css" />{% endblock %}
{% block title %}Create new team{% endblock %}
{% block mainContent %}
<div class="mainContainer">
    <div class="formContainer">
        <span class="formTitleSpan">Creating new team</span>
        <form method="post">
            {% csrf_token %}
            {% for field in groupForm %}
            <span class="formLabel">{{ field.label_tag }}</span>
            {{ field }}
            {% endfor %}
            <button type="submit">Create team</button>
        </form>
            {% if groupForm.errors %}
            <div class="messagesContainer" id="messagesContainer">
                {{ groupForm.name.errors }}
            </div>
                {% endif %}
    </div>
</div>
{% endblock %}
{% block jsContent %}

{% endblock %}