:root {
    --fs-l: 1.2rem;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


input:disabled {
    color: grey;
}

.absenceRequestsTable {
    font-family: Arial;
    white-space: nowrap;
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.absenceRequestsTable tr {
    background-color: rgb(21, 23, 25);
    color: #ffffff;
    text-align: left;
}

.absenceRequestsTable td {
    text-align: center;
}

.absenceRequestsTable th,
.absenceRequestsTable td {
    padding: 12px 15px;
}

.absenceRequestsTable tbody tr {
    border-bottom: 1px solid rgb(42, 43, 45);
}

.absenceRequestsTable tbody tr:nth-of-type(even) {
    background-color: rgb(42, 43, 45);
}

.absenceRequestsTable tbody tr:last-of-type {
    border-bottom: 2px solid rgb(21, 23, 25);
}

.messagesContainer {
    width: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1vh;
    background-color: rgb(168, 168, 168);
    color: white;
    border-radius: 3px;
    font-size: 0.7vw;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9vw;
    width: 100%;
}

button {
    width: 50%;
    background-color: transparent;
    font-size: .9vw;
    color: rgb(168, 168, 168);
    font-family: 'Raleway', sans-serif;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    color: white;
}

button:disabled:hover {
    color: rgb(168, 168, 168);
}

select, .selectMembers {
    width: 50%;
    /*border: none;*/
    /*border-bottom: 1px solid rgb(42, 43, 45);*/
    margin-bottom: 1.5vh;
    border-radius: 7px;
    font-size: .7vw;
    font-family: 'Raleway', sans-serif;
}

input {
    width: 50%;
    border: none;
    margin-top: .5vh;
    margin-bottom: .5vh;
    font-size: .7vw;
    font-family: 'Raleway', sans-serif;
}

input:active,
input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
    text-shadow: none
}

a:hover,
a:active {
    color: rgb(214, 214, 214);
    text-decoration: none;
    text-shadow: none;
}